.chat {
  background: white !important;
  .chat-layout {
    margin: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 10px;
    overflow-y: hidden;
    max-height: 90%;
    box-shadow: rgba(0, 0, 0, 0.02) 23.8596px 5.61404px 50px,
      rgba(86, 128, 248, 0.05) 35.0877px 0px 70px,
      rgba(86, 128, 248, 0.03) 14.0351px 0px 25px;

    .chat-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90%;
      overflow-y: scroll;
    }

    .chat-input-layout {
      display: flex;
      height: 10%;
      width: 100%;
    }
  }
}

.message-container {
  line-height: 1.5rem;
  padding: 0 0 0.5rem 0;
  font-size: 1.5rem;

  &.xs {
    padding: 0;
  }
}

.message-alert {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  line-height: 2rem;
}

.message-user {
  padding-right: 1rem;
  line-height: 3rem;
  &.xs {
    padding-right: 0rem;
    font-size: 0.8rem;
  }
}

.message-text {
  font-size: 1.5rem;
  &.xs {
    font-size: 0.8rem;
  }
}

.message-time {
  font-size: 0.8rem;
  color: gray;
  padding-left: 2rem;
  &.xs {
    padding-left: 1rem;
  }
}
