.main-container {
  height: 100%;
  width: 100%;

  .main-half-circle {
    background-color: white;
    padding-bottom: 27%;
    background: radial-gradient(circle at top, white 50vw, transparent 17.1vw);
  }
}
