.main-container {
  height: 100%;
  width: 100%;

  .main-half-circle {
    background: radial-gradient(circle at top, white 81%, transparent 17.1vw);
    height: 50%;
    position: relative;
    &.xs {
      background: radial-gradient(circle at top, white 81%, transparent 17.1vw);
    }
  }
}
