.Text {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  font-size: 1.7rem;
}

.textfield-footer {
  font-size: 10px;
  text-align: center;
  padding-top: 4.5rem;
  color: gray;
}
