input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input::placeholder {
  color: white !important;
  font-family: $mapo;
}

.MuiInput-underline::after {
  border-bottom: 2px solid white !important;
}

.Material-Input {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
